
@media only screen and (max-width: 767px){

	p.header-top-date-single {
	    padding-left: 15px;
	}
	
	.header-center .navbar-logo.logo-text h2 {
	    font-size: 30px;
	}

	.header-center #logo-right-image {
	    padding: 26px 0;
	}

	.header-center .navbar-logo {
	    text-align: left!important;
	}

	ul.megamenu.item.right {
	    display: none;
	}
	.main-container #content .product-filter.filters-panel.bg-black-bg {
	    width: 100%;
	    float: none;
	}
	ul.pagination.single-nmbr li a{
		padding: 3px 6px;
		font-size: 11px;
	}
	#logo-right-image img {
	    width: 100%;
	}
}